/* CONTIENE TODO LO REFERENTE A "ESTILOS" DE CARDS EN HOME */

/* Contenedor de todas las cards -> Character & PLanets */
.container {
    margin: 16px 0px 0px 2px;
}

/* Título de las cards */
.titulo {
    margin: 16px 0px 0px 2px;
    font-size: larger;
}

/* Pisición de las cards -> Con el Scroll horizontal */
.row{
    align-items: stretch;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
  }

  /* Medidas del exterior de card */
.lista-card {
    margin: 0px 8px 0px 9px;
    padding: 1px;
    display: flex
}

/* Interior de card */
.character,
.planet {
    width: 10rem;
    padding: 8px;
    background-color: rgba(2, 14, 19, 0.86);
    color: azure;
}

/* Datos de card */
.card-body {
    /* want to change top margin */
    padding: 5px;
}

/* Nombre de Character o Planet */
.card-title {
    padding-bottom: -30em;
    margin: 0px;
    font-size: small;
}

/* Posición botones */
.botones {
    margin-top: 5%;
}

/* Botón amarillo */
.btn-warning {
    width: 3rem;
    height: 2rem;
    font-size: 11px;
    margin-right: 1em;
    font-weight: bold;
}

/* Botón rojo */
.btn-danger {
    width: 3rem;
    height: 2rem;
    font-size: 13px;
}