/* CONTIENE TODO LO REFERENTE A "ESTILOS" DE CARDS EN HOME */

.container {
    margin: 16px 0px 0px 2px;
}

.titulo {
    margin: 16px 0px 0px 2px;
    font-size: x-large;
}

.lista {
    margin: 0px 8px 0px 9px;
    padding: 1px;
}

/* Medidas del interior de card */
.character,
.planet {
    width: 10rem;
    padding: 8px;
    background-color: rgba(2, 14, 19, 0.86);
    color: azure;
}


.card-title {
    padding-bottom: -30em;
    margin: 0px;
}

.card-body {
    padding: 5px;
    /* want to change top margin */
}

.info {
    font-size: 11px;
    padding-top: -12em;
}

.botones {
    margin-top: 5%;
}

.btn-warning {
    width: 3rem;
    height: 2rem;
    font-size: 12px;
    margin-right: 1em;
}

.btn-danger {
    width: 3rem;
    height: 2rem;
    font-size: 12px;
}