/* CONTIENE TODO LO REFERENTE A "ESTILOS" DEL NAVBAR & FOOTER*/

.dropdown-menu {
    color: rgb(255, 255, 255);
    background-color: #000000;
    border-color: #000000;
}

.dropdown-item {
    color: rgb(255, 255, 255);
    background-color: #000000;
    border-color: #dc3545;
}

.favorites:hover {
    color: rgb(255, 255, 255);
    background-color: #dc3545;
    border-color: #dc3545;
}

.favorites {
    color: #000;
    background-color: #ffc107;
    border-color: #ffc107;
}

.lista-fav {
    padding: 8px 8px 0px 0px;
    margin: 0px 0px 0px 0px;
}

/* font del footer*/
p {
    margin: 30px 0px 0px 0px;
}